div#moedas {
    height: 100%;
    padding-left: 5%;
}

div#moeda {
    text-align: center;
    display: inline-block;
    color: black;
    background-color: rgb(255, 204, 137);
    border-radius: 6px;
    height: 220px;
    width: 300px;
    padding: 2%;
    margin: 3%;
}

#titulo {
    text-align: center;
}
